//== Popovers
//
//##
//** Popover maximum width
@popover-max-width: 276px;
//** Popover border-radius
@popover-border-radius: 4px;


//** Popover arrow width
@popover-arrow-width: 10px;
//** Popover outer arrow width
@popover-arrow-outer-width: (@popover-arrow-width + 1);