

//== Tooltips
//
//##

//** Tooltip max width
@tooltip-max-width:           200px;

@tooltip-opacity:             .95;

//** Tooltip arrow width
@tooltip-arrow-width:         5px;
//** Tooltip arrow color
@tooltip-arrow-color:         @tooltip-bg;

@tooltip-radius:             3px;
